//main-color
$color-first:#264653 !default;
$color-second:#2a9d8f !default;
$color-third:#e9c46a !default;
$color-forth:#f4a261 !default;
$color-fifth:#e76f51 !default;
//font-family
//$font-family-b-yekan:BYekan;